= form_tag(search_jobs_path, method: "get", id: "job-form", class: "search-form") do
	%label I want jobs in 
	= text_field_tag "title"

	.form-sub
		%label I live in
		= text_field_tag "location", "", class: "large-field"
	
	= submit_tag "Find Jobs!", class: "btn btn-primary btn-lg btn-brand"